{% extends 'base.html' %}
{% block content %}
    <table id="certificationDetails">
        <thead>
          <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Name</th>
                <th>Date</th>
                <th>Cost</th>
                <th>Marks</th>
                <th>Validity</th>
                <th>Center Address</th>
                <th>Result</th>
                <th>Status</th>
                <th>Feedback</th>
                <th>Action</th>
                <th></th>
          </tr>
        </thead>
        <tbody>
    {% for record in records %}
        <tr>
            <td> {{ record.first_name }}</td>
            <td>{{ record.last_name }}</td>
            <td>{{ record.gender}}</td>
            <td>{{ record.email}}</td>
            <td>{{ record.name}}</td>
            <td>{{ record.date}}</td>
            <td>{{ record.cost}}</td>
            <td>{{ record.marks}} / 100</td>
            <td>{{ record.validity}}</td>
            <td>{{ record.center_address}}</td>
            <td>{{ record.result}}</td>
            <td>{{ record.status}}</td>
            <td>{{ record.feedback}}</td>
            <td>
                {% if record.ratings %}
                    {{ record.ratings}} / 5
                {% else %}
                    NA
                {% endif %}
            </td>
            <td>
                <a href="{% url 'update' record.id %}">Update</a> | <a href="{% url 'delete' record.id %}">Delete</a>

            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}
        